server:
  port: ${A6_PROJECTS_MGMT_CORE_PORT:10300}

logging:
  level:
    root: ${A6_PROJECTS_MGMT_CORE_LOGGING_LEVEL_GENERAL:INFO}
    "[org.springframework.http.server.reactive]": ${A6_PROJECTS_MGMT_CORE_LOGGING_LEVEL_GATEWAY:INFO}
    "[org.springframework.web.reactive]": ${A6_PROJECTS_MGMT_CORE_LOGGING_LEVEL_GATEWAY:INFO}


spring:
  config:
    import: classpath:/api.yml, classpath:/security.yml, classpath:/amqp.yml
  application:
    name: ${APP_NAME:projects.management.core}
  data:
    mongodb:
      uri: ${A6_PROJECTS_MGMT_CORE_MONGO_DB_URI:mongodb://localhost:27017/}${A6_PROJECTS_MGMT_CORE_MONGO_DB_NAME:a6-managements}${A6_PROJECTS_MGMT_CORE_MONGO_DB_PARAMS:?}
#      auto-index-creation: true
